.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1a1a1a;
  opacity: 80%;
  border-bottom: solid 1px #ffffff;
  
}
.refresh-button {
  background-color: #222;
}

.header h1 {
  margin-right: 10px;
  color: white;
  opacity: 87%;
}

.game-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #222; /* Set the background color to black */
    overflow: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  }

  .away-team {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
  }
  .away-team p {
    font-size: 350%;
    margin-top: 10%
  }
  .home-team p{
    font-size: 350%;
    margin-top: 10%;
  }

  .home-team button {
    background-color: #d1d1d1;
    font-family: 'Bebas Neue', cursive !important;
    font-size: 100%;
  }
  .away-team button {
    background-color: #d1d1d1;
    font-family: 'Bebas Neue', cursive !important;
    font-size: 100%;

  }

  .game-info {
    width: 40%;
    text-align: center;
    object-fit: contain; /* Ensure the logo fits within the specified dimensions */
    margin-top: 2.5%;
  }
  .game-info h2 {
    font-size: 300%;
    color: white;
    opacity: 87%;
    margin-bottom: 5%;
  }

  .game-info h3 {
    margin-top: 1%;
    font-size: 180%;
    color: #ffffff;
    opacity: 60%;
  }
  .game-info p {
    font-size: 130%;
    color: #ffffff;
    opacity: 60%;
  }
  
  .home-team {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10%;
  }
  
  .game-card:hover {
    box-shadow: 0 4px 8px rgba(15, 15, 15, 0.767);
    background-color: black;
  }

  .team-logo {
    margin-top: 0%;
    margin-bottom: 15%;
    width:   90px; /* Adjust the width as per your preference */
    height: 90px; /* Adjust the height as per your preference */
    object-fit: contain; /* Ensure the logo fits within the specified dimensions */
    opacity: 1 !important;
  }
  .green-font {
    color: green;
  }

  .bordered-toggle-under {
    font-family: 'Bebas Neue', cursive !important;
    font-size: 130%;
    border: solid 1px;
    background-color: rgba(237, 0, 0, 0.6);
  }

  .bordered-toggle-over {
    font-family: 'Bebas Neue', cursive !important;
    font-size: 130%;
    border: solid 1px;
    background-color: rgba(0, 128, 0, 0.6);
  }

  .bordered-toggle-over:hover {
    border: solid 1px;
    background-color: rgba(0, 128, 0, 1);
  }

  .bordered-toggle-under:hover {
    border: solid 1px;
    background-color: rgba(237, 0, 0, 1);
  }

  
  