.container {
display: flex;
height: 80vh;
background-color: #1b1b1b;
justify-items: center;
align-self: center;
text-align: center;
justify-content: center;
margin: 5%;
border: solid 2px #ffffff;
border-radius: 10px;

}
.container p {  
  margin: 10%;
 color: white !important;
 font-size: 300%;


}

