/* Application-wide Styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1 {
    color: rgb(0, 0, 0);
    font-size: 250%;
    text-align: center;
  }


  body {
    background-color: #121212; /* Replace with your desired dark background color */
    color: #ffffff; /* Replace with your desired text color */
  }

  html, body { height: 100%; }
  body { margin: 0; font-family: 'Bebas Neue', cursive !important;
  }

  
  
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
